.message{
    padding: 1rem;
}
.message .title{
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
}
.message .title i{
    font-size: 1.3rem;
    color: #fff;
}
.message .white-bg{
    background: #fff;
    color: #999;
}
textarea{
    outline:none;
    border:none;
    padding-left: 4rem;
    padding-top: 1rem;
    width: 100%;
    height: 8rem;
    border-radius: 0 0 3px 3px;
}
.message .white-bg input{
    outline: none;
    border: none;
}
.message .white-bg i{
    position: absolute;
    top: .9rem;
    left: 1.5rem;
}
.message .border-bottom input{
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid #ccc;
    color: #999;
    padding-left: 4rem;
}
.message .border-bottom{
    position: relative;
}
.message .name{
    border-radius: 3px 3px 0 0;
}
.message .name input{
    border-radius: 3px 3px 0 0;
}
.message .content{
    border-radius: 0 0 3px 3px;
    position: relative;
}
.message .content i{
    top: .4rem;
}
.message .verification-code{
    width: 100%;
    margin-top: 1rem;
    border-radius: 3px;
    position: relative;
}
.message .verification-code input{
    width: 100%;
    height: 4rem;
    padding-left: 1.5rem;
    border-radius: 3px;
}
.message .verification-code img{
    height: 3rem;
    position: absolute;
    top: .8rem;
    right: .1rem;
}
.message .btn{
    width: 100%;
    height: 3.6rem;
    line-height: 3.6rem;
    text-align: center;
    color: #fff;
    background: #0ba7e2;
    font-size: 1.8rem;
    border-radius: 3px;
    margin-top: 1rem;
}
.message .user-msg{
    width: 100%;
    font-size: 1.8rem;
    color: #fff;
    text-align: center;
    padding-top: 4rem;
}