.product-introduction{
    width: 100%;
    height: 4.6rem;
}
.product-introduction span{
    color: #fff;
    display: inline;
    border-bottom: 2px solid #0a92c7;
    padding: 0.5rem 1rem 1rem 1rem;
    font-size: 1.8rem;
}

.paragraph{
    padding: 1.4rem;
}
.paragraph p{
    color: #f2f2f2;
}

.product-list img{
    width: 14.2rem;
    height: 14.2rem;
}
.product-list li{
    padding: 1.4rem .4rem;
    color: #fff;
}

.flip{
    height: 4rem;
    color: #fff;
    text-align: center;
    position: relative;
    margin-top: 3rem;
}
.flip a{
    display: inline-block;
    width: 7rem;
    height: 2.4rem;
    border: 1px solid #8b8b8b;
    border-radius: 2px;
    text-align: center;
    line-height: 2.4rem;
    color: #8b8b8b;
    position: absolute;
    top: 0;
}
.flip .prev{
    left: 1rem;
}
.flip .next{
    right: 1rem;
}