body{
    background: #fff;
}
header{
    width: 100%;
    height: 5rem;
    background: black;
    position: relative;
}
.am-header{
    background: rgba(255, 255, 255, 0.8);
}
.am-header i{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    color: #3c414a;
    background: rgba(255,255,255,0.6);
}
.header .back{
    left: 1rem;
}
.header .home{
    right: 1rem;
}
.header .share{
    right: 5rem;
}

.banner{
    position: relative;
}
.banner-bottom-bg{
    width: 100%;
    height: 5rem;
    background: linear-gradient(rgba(76,76,76,0) 0,rgba(19,19,19,0.5) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
}
.banner p{
    width: 100%;
    position: absolute;
    bottom: 3rem;
    left: 1rem;
    color: #fff;
    font-size: 1.8rem;
}
.center{
    padding: 1rem;
}
.center .head{
    font-size: 1.4rem;
}
.center .body{
    padding-top: 2rem;
}
.center img{
    width: 100%;
    height: 10rem;
}
.center .foot{
    padding-top: 1rem;
    padding-bottom: 4rem;
}
.center .foot p{
    font-size: 1.4rem;
    line-height: 2.4rem;
}
.center .foot p a{
    display: inline-block;
    width: 5.6rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border: 1px solid #c7c7c7;
    color: #0a92c7;
    border-radius: 6px;
}
.center .foot p i{
    color: #c7c7c7;
    font-size: 2rem;
    padding: .5rem;
}